// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "enabled": "true",
  "showDayNight": "true",
  "minimapLockedMapType": "jm.common.map_type.auto",
  "caveLayer": "4",
  "info1Label": "jm.theme.labelsource.lightlevel",
  "info1LabelPosition": "Top",
  "info2Label": "jm.theme.labelsource.gametime",
  "info2LabelPosition": "Top",
  "info3Label": "jm.theme.labelsource.location",
  "info3LabelPosition": "Bottom",
  "info4Label": "jm.theme.labelsource.biome",
  "info4LabelPosition": "Bottom",
  "infoSlotAlpha": "0.7",
  "infoSlotFontScale": "1.92",
  "infoSlotTimeFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "reticleOrientation": "PlayerHeading",
  "shape": "Rectangle_Horizontal",
  "sizePercent": "88",
  "frameAlpha": "100",
  "terrainAlpha": "66",
  "backgroundAlpha": "0.33",
  "orientation": "PlayerHeading",
  "compassFontScale": "1.03",
  "showCompass": "true",
  "showReticle": "true",
  "positionX": "0.0",
  "positionY": "0.1202577",
  "moveEffectIcons": "true",
  "hideEffectIcons": "false",
  "effectTranslateX": "-6",
  "effectTranslateY": "238",
  "effectVertical": "false",
  "effectReversed": "false",
  "minimapKeyMovementSpeed": "0.001",
  "position": "Center",
  "active": false,
  "propertiesId": 1,
  "playerDisplay": "DotsAndOutlinedIcons",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "1.53",
  "showPlayerHeading": "true",
  "mobDisplay": "DotsAndOutlinedIcons",
  "mobDisplayScale": "1.21",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showAmbientCreatures": "false",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1.83",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "waypointIconScale": "1.0",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showOffScreenPlayers": "true",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showPlayerNames": "true",
  "showTeamNames": "true",
  "showEntityNames": "true",
  "showHostileNames": "false",
  "showPassiveNames": "false",
  "showAmbientNames": "false",
  "showPetNames": "true",
  "showNpcNames": "false",
  "showVillagerNames": "false",
  "showNoIconNames": "true",
  "preferredMapType": "night",
  "zoomLevel": "2048",
  "configVersion": "6.0.0-beta.47"
}